<h1>Language Creator</h1>

<form action="/languages" method="post">
  <label for="language_name">Enter Language Name: </label>
  <input type="text" name="language_name">
  <input type="submit" name="submit" value="Create Language">
</form>
