<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= yield %>
    <%if !is_logged_in?%>
      <a href="/logout">LOG OUT</a>
    <%end%>
  </body>
</html>
