<h1>Sign up for Language Chatter!</h1>

<h3>
  <form action="/speakers/create_speaker" method="post">
  <label for="username">User Name: </label>
  <input type="text" name="username">
  <label for="email">User Email: </label>
  <input type="text" name="email">
  <label for="password">User Password: </label>
  <input type="text" name="password">
  <input type="submit" name="submit" value="Create User">

  </form>
</h3>
